/* src/components/AdCarousel.css */
.ad-carousel {
    margin: 20px 0px;
  }
  
  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .carousel .slide {
    display: flex;
    justify-content: center;
  }
  
  .ad-slide {
    max-width: 250px;
    padding: 10px;
  }
  