/* src/components/PostCard.css */
.post-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    flex: 1 1 300px;
    max-width: 300px;
    
  }
  
  .post-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .post-content {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .post-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .post-stats {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
  }
  
  .post-stats span {
    margin-right: 10px;
  }
  